<h1>Editing activity_inventory</h1>

<% form_for(@activity_inventory) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :activity_id %><br />
    <%= f.text_field :activity_id %>
  </p>
  <p>
    <%= f.label :priority %><br />
    <%= f.text_field :priority %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @activity_inventory %> |
<%= link_to 'Back', activity_inventories_path %>
