<h1>Editing pomodoro</h1>

<% form_for(@pomodoro) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :id %><br />
    <%= f.text_field :id %>
  </p>
  <p>
    <%= f.label :activity_id %><br />
    <%= f.text_field :activity_id %>
  </p>
  <p>
    <%= f.label :start_time %><br />
    <%= f.datetime_select :start_time %>
  </p>
  <p>
    <%= f.label :end_time %><br />
    <%= f.datetime_select :end_time %>
  </p>
  <p>
    <%= f.label :interruption_type %><br />
    <%= f.text_field :interruption_type %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @pomodoro %> |
<%= link_to 'Back', pomodoros_path %>