<h1>New activity</h1>

<%= form_for(@activity) do |f| %>
  <%= error_messages(@activity) %>

  <p>
    <%= f.label :priority %><br />
    <%= f.text_field :priority %>
  </p>
  <p>
    <%= f.label :deadline %><br />
    <%= f.date_select :deadline, :include_blank => true %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.label :estimated_pomodoros %><br />
    <%= f.text_field :estimated_pomodoros %>
  </p>
  <p>
    <%= f.label :comment %><br />
    <%= f.text_area :comment %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', activities_path %>
