<h1>Select activity</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Priority</th>
    <th>Deadline</th>
    <th>Description</th>
    <th>Estimated pomodoros</th>
    <th>Comment</th>
  </tr>

<% @activities.each do |activity| %>
  <tr>
    <td><%=h activity.id %></td>
    <td><%=h activity.priority %></td>
    <td><%=h activity.deadline %></td>
    <td><%=h activity.description %></td>
    <td><%=h activity.estimated_pomodoros %></td>
    <td><%=h activity.comment %></td>
  </tr>
<% end %>
</table>

<br />
